{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="container-fluid">{{ content_top }}
      <div class="container-fluid ">
        <div class="row">
          <div class="col-lg-4">
            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action active">
                <i class="fa fa-tags"></i> {{ text_extensions }} <!--mi tienda-->
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="index.php?route=saccount/customers">
                  <i class="fa fa-user" aria-hidden="true"></i> {{ text_manage_customers }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="index.php?route=saccount/customers_groups">
                  <i class="fa fa-users" aria-hidden="true"></i> {{ text_manage_customers_groups }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="index.php?route=saccount/users">
                  <i class="fa fa-user-circle" aria-hidden="true"></i> {{ text_manage_users }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ manageextensions }}">
                  <i class="fa fa-cubes" aria-hidden="true"></i> {{ text_manageextensions }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ addextensions }}">
                  <i class="fa fa-cube" aria-hidden="true"></i> {{ text_addextensions }}
                </a>
              </button>

              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ offer }}">
                  <i class="fa fa-cube" aria-hidden="true"></i> {{ text_offer }}
                </a>
              </button>
              <!-- Botones ocultos
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ option }}">
                  <i class="fa fa-cube" aria-hidden="true"></i> {{ text_option }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ attributes }}">
                  <i class="fa fa-cube" aria-hidden="true"></i> {{ text_attributes }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ export }}">
                  <i class="fa fa-cube" aria-hidden="true"></i> {{ text_export }}
                </a>
              </button>
            -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action active">
                <i class="fa fa-cog"></i> {{ text_my_account }}<!--mi cuenta-->
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ edit }}">
                  <i class="fa fa-cogs" aria-hidden="true"></i> {{ text_edit }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ password }}">
                  <i class="fa fa-cog" aria-hidden="true"></i> {{ text_password }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ address }}">
                  <i class="fa fa-address-book-o" aria-hidden="true"></i> {{ text_address }}
                </a>
              </button>
              <!--
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ plan }}">
                  <i class="fa fa-line-chart" aria-hidden="true"></i> {{ text_plan }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ images }}">
                  <i class="fa fa-upload" aria-hidden="true"></i> {{ text_images }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ category }}">
                  <i class="fa fa-tags" aria-hidden="true"></i> {{ text_category }}
                </a>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ download }}">
                  <i class="fa fa-download" aria-hidden="true"></i> {{ text_download }}
                </a>
              </button>
              -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action active">
                <i class="fa fa-shopping-cart"></i> {{ text_my_orders }}<!--mis pedidos-->
              </button>
              <!--
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ address2 }}">
                  <i class="fa fa-credit-card" aria-hidden="true"></i> {{ text_getpaid }}
                </a>
              </button>-->
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ order }}">
                  <i class="fa fa-history" aria-hidden="true"></i> {{ text_order }}
                </a>
              </button>
              <!--
              <button type="button" class="list-group-item list-group-item-action">
                <a href="{{ transaction }}">
                  <i class="fa fa-money" aria-hidden="true"></i> {{ text_transaction }}
                </a>
              </button>
            -->
            </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
