{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ heading_title }}</h2>
     
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
       
         
		 
		  <fieldset>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-password"></label>
            <div class="col-sm-10">
            
	     {% if paypalorcheque == '1' %}
            <input type="radio" name="paypalorcheque" value="1" checked="checked" />
            Paypal
            <input type="radio" name="paypalorcheque" value="0" />
            Cheque
	    <input type="radio" name="paypalorcheque" value="2" />
            Bank Transfer

	    {% elseif paypalorcheque == '0' %}

           
            <input type="radio" name="paypalorcheque" value="1" />
            Paypal
            <input type="radio" name="paypalorcheque" value="0" checked="checked" />
            Cheque
	    <input type="radio" name="paypalorcheque" value="2" />
            Bank Transfer

            {% else %}
            <input type="radio" name="paypalorcheque" value="1" />
            Paypal
            <input type="radio" name="paypalorcheque" value="0" />
            Cheque
	    <input type="radio" name="paypalorcheque" value="2" checked="checked" />
            Bank Transfer
            {% endif %}		
            </div>
          </div>
		  
		  
		   <div class="form-group required" id="paypal-tr">
            <label class="col-sm-2 control-label" for="input-paypal">{{ entry_paypalemail }}</label>
            <div class="col-sm-10">
              <input type="text" name="paypal_email" value="{{ paypal_email }}" placeholder="{{ entry_paypalemail }}" 
			  id="input-paypal" class="form-control" />
              
	       {% if error_paypalemail %}
              <div class="text-danger">{{ error_paypalemail }}</div>
              {% endif %}
            </div>
          </div>
		  
		  
		   <div class="form-group required" id="bankname-tr">
            <label class="col-sm-2 control-label" for="input-bank">{{ entry_bankname }}</label>
            <div class="col-sm-10">
              <input type="text" name="bank_name" value="{{ bank_name }}" placeholder="{{ entry_bankname }}" 
			  id="input-bank" class="form-control" />
                {% if error_bankname %}
              <div class="text-danger">{{ error_bankname }}</div>
              {% endif %}
            </div>
          </div>
		  
		  
		   <div class="form-group required" id="accountnumber-tr">
            <label class="col-sm-2 control-label" for="input-accountnumber">{{ entry_accountnumber }}</label>
            <div class="col-sm-10">
              <input type="text" name="account_number" value="{{ account_number }}" placeholder="{{ entry_accountnumber }}" 
			  id="input-accountnumber" class="form-control" />
                {% if error_accountnumber %}
              <div class="text-danger">{{ error_accountnumber }}</div>
              {% endif %}
            </div>
          </div>
		  
		  
		   <div class="form-group required" id="accountname-tr">
            <label class="col-sm-2 control-label" for="input-accountname">{{ entry_accountname }}</label>
            <div class="col-sm-10">
              <input type="text" name="account_name" value="{{ account_name }}" placeholder="{{ entry_accountname }}" 
			  id="input-accountname" class="form-control" />
               {% if error_accountname %}
              <div class="text-danger">{{ error_accountname }}</div>
              {% endif %}
            </div>
          </div>
		  
		  <div class="form-group required" id="branch-tr">
            <label class="col-sm-2 control-label" for="input-branch">{{ entry_branch }}</label>
            <div class="col-sm-10">
              <input type="text" name="branch" value="{{ branch }}" placeholder="{{ entry_branch }}" 
			  id="input-branch" class="form-control" />
                {% if error_branch %}
              <div class="text-danger">{{ error_branch }}</div>
              {% endif %}
            </div>
          </div>
		  
		  
		   <div class="form-group required" id="ifsccode-tr">
            <label class="col-sm-2 control-label" for="input-ifsccode">{{ entry_ifsccode }}</label>
            <div class="col-sm-10">
              <input type="text" name="ifsccode" value="{{ ifsccode }}" placeholder="{{ entry_ifsccode }}" 
			  id="input-ifsccode" class="form-control" />
                {% if error_ifsccode %}
              <div class="text-danger">{{ error_ifsccode }}</div>
              {% endif %}
            </div>
          </div>
		  
		  
		   <div class="form-group required" id="cheque-tr">
            <label class="col-sm-2 control-label" for="input-cheque">{{ entry_cheque }}</label>
            <div class="col-sm-10">
              <input type="text" name="cheque" value="{{ cheque }}" placeholder="{{ entry_cheque }}" 
			  id="input-cheque" class="form-control" />
              {% if error_cheque %}
              <div class="text-danger">{{ error_cheque }}</div>
              {% endif %}
            </div>
          </div>
		  
		  
        </fieldset>
		
		
        
        <input type="hidden" name="address_id" value="{{ address_id }}"/>
		
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
        </div>
        
      </form>
    </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<script type="text/javascript"><!--
$('select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/account/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
		},
		complete: function() {
			$('.fa-spin').remove();
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('input[name=\'postcode\']').parent().parent().addClass('required');
			} else {
				$('input[name=\'postcode\']').parent().parent().removeClass('required');
			}
			
			html = '<option value="">{{ text_select }}</option>';
			
			if (json['zone']) {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';
				
					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}
			
				html += '>' + json['zone'][i]['name'] + '</option>';
			}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}
			
			$('select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'country_id\']').trigger('change');
//--></script>





<script type="text/javascript"><!--

$('input[name=\'paypalorcheque\']').on('change', function() {
	var value = $(this).val();
	if(value == 1){
		$('#paypal-tr').show();
		$('#cheque-tr').hide();
		$('#bankname-tr').hide();
		$('#accountnumber-tr').hide();
		$('#accountname-tr').hide();
		$('#branch-tr').hide();
		$('#ifsccode-tr').hide();
	}else if(value == 2){
		$('#paypal-tr').hide();
		$('#cheque-tr').hide();
		$('#bankname-tr').show();
		$('#accountnumber-tr').show();
		$('#accountname-tr').show();
		$('#branch-tr').show();
		$('#ifsccode-tr').show();
	}
	else{
		$('#paypal-tr').hide();
		$('#cheque-tr').show();
		$('#bankname-tr').hide();
		$('#accountnumber-tr').hide();
		$('#accountname-tr').hide();
		$('#branch-tr').hide();
		$('#ifsccode-tr').hide();
	}
});

$('input[name=\'paypalorcheque\']:checked').trigger('change');
//--></script>




<script type="text/javascript"><!--
$('select[name=\'country_id2\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/account/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'country_id2\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
		},
		complete: function() {
			$('.fa-spin').remove();
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('input[name=\'postcode2\']').parent().parent().addClass('required');
			} else {
				$('input[name=\'postcode2\']').parent().parent().removeClass('required');
			}
			
			html = '<option value="">{{ text_select }}</option>';
			
			if (json['zone']) {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';
				
					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}
			
				html += '>' + json['zone'][i]['name'] + '</option>';
			}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}
			
			$('select[name=\'zone_id2\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'country_id2\']').trigger('change');
//--></script>
{{ footer }}