{{ header }}{{ column_left }}
<div class="container">
  <div id="content">
    <div class="page-header">
      <div class="container-fluid">
        <div class="pull-right">
          <!-- Botones add/remove ocultos
        <a href="{{ insert }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-option').submit() : false;"><i class="fa fa-trash-o"></i></button>-->
        </div>
        <h1><i class="fa fa-user fa-1x" aria-hidden="true"></i> {{ heading_title }} </h1>
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="alert alert-danger alert-dismissible" id="error"><i class="fa fa-exclamation-circle"></i>
        <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
      </div>
      <div class="alert alert-success alert-dismissible" id="success"><i class="fa fa-check-circle"></i>
        <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
      </div>
    </div>
    <div class="container-fluid" id="list-clients">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_customers_list }}</h3>
        </div>
        <div class="panel-body">
          <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-option">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                    <!--{{ dump(customers) }}-->
                    <!--{{ dump(options) }}-->
                    <!--{{ dump(customer_approval.approve) }}-->
                    <!--{{ dump(customers_groups) }}-->
                    <!--{{ dump(customers_detailed) }}-->
                    <!--{{ dump(seller_id) }}-->
                    <td>{{ column_customer_name }}</td>
                    <td>{{ column_customer_email }}</td>
                    <td>{{ column_customer_status }}</td>
                    <td>{{ column_customer_date_upper }}</td>
                    <td>{{ column_customer_status }}</td>
                  </tr>
                </thead>
                <tbody>
                  {% for customer in customers %}
                  <tr id="{{ customer.customer_id }}">
                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    {% if customer.status == 1 %}
                    <td id="status">{{ text_enabled }}</td>
                    {% else %}
                    <td id="status">{{ text_disabled }}</td>
                    {% endif %}
                    <td>{{ customer.date_added }}</td>
                    <td>
                      <div class="container-fluid">
                        <div class="row">
                          <div id="approve" class="col-md-3">
                            <a id="{{ customer.customer_id }}" name="{{ customer.name }}" data-toggle="tooltip" title="{{ button_approve }}" class="btn btn-success">
                              <i class="fa fa-thumbs-o-up"></i>
                            </a>
                          </div>
                          <div id="deny" class="col-md-3">
                            <a id="{{ customer.customer_id }}" name="{{ customer.name }}" data-toggle="tooltip" title="{{ button_deny }}" class="btn btn-danger">
                              <i class="fa fa-thumbs-o-down"></i>
                            </a>
                          </div>
                          <div id="edit" class="col-md-3">
                            <a href="{{ customer.edit }}" id="{{ customer.customer_id }}" name="{{ customer.name }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary">
                              <i class="fa fa-pencil"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %} {% if options %} {% for option in options %}
                  <tr>
                    <td class="text-center">

                      {% if option.seller_id %} {% if option.option_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ option.option_id }}" checked="checked" /> {% else %}
                      <input type="checkbox" name="selected[]" value="{{ option.option_id }}" /> {% endif %} {% endif %}

                    </td>
                    <td class="text-left">{{ option.name }}</td>
                    <td class="text-right">{{ option.sort_order }}</td>
                    <td class="text-right">

                      {% if option.approve == 0 %}

                      <a href="{{ option.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary">
                        <i class="fa fa-pencil"></i>
                      </a> {% endif %}

                    </td>
                  </tr>
                  {% endfor %} {% else %}
                  <tr>
                    <td class="text-center" colspan="7">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script>
  //Aprobar Clientes
  $(document).ready(function() {
    //Oculta div #success
    $("#success").hide();
    $("#approve a").click(function() {
      var cliente = {
        id: $(this).attr('id'),
        name: $(this).attr('name'),
      };

      $.ajax({
        url: 'index.php?route=saccount/customers/approve',
        type: 'post',
        data: {
          cliente
        },
        dataType: 'json',

        beforeSend: function() {
          //$('#button-groups').button('loading');
        },

        complete: function() {
          //$('#button-history').button('reset');
        },

        success: function(json) {
          //$('.alert-dismissible').remove();

          if (json['error']) {
            $('#error').html('<i class="fa fa-exclamation-circle"></i> ' + json['error'] + '');
            //$('#tab-groups').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          }

          if (json['success']) {
            $('tr[id*="' + json['customer_id'] + '"] td[id*="status"]').html('' + json['approved'] + '');
            $('#success').html('<i class="fa fa-exclamation-circle"></i> ' + json['customer_name'] + ' ' + json['approved'] + '');
            $("#success").show().delay(3000).fadeOut();
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }

      });
    });
  });
</script>
<script>
  //Desaprobar Clientes
  $(document).ready(function() {
    //Oculta div #error
    $("#error").hide();
    //Desprobar
    $("#deny a").click(function() {
      //alert("Cliente " + $(this).attr('name') + " Deshabilitado");
      var cliente = {
        id: $(this).attr('id'),
        name: $(this).attr('name'),
      };

      $.ajax({
        url: 'index.php?route=saccount/customers/deny',
        type: 'post',
        data: {
          cliente
        },
        dataType: 'json',

        beforeSend: function() {
          //$('#button-groups').button('loading');
        },

        complete: function() {
          //$('#button-history').button('reset');
        },

        success: function(json) {
          //$('.alert-dismissible').remove();

          if (json['error']) {
            $('#error').html('<i class="fa fa-exclamation-circle"></i> ' + json['error'] + '');
          }

          if (json['success']) {
            $('tr[id*="' + json['customer_id'] + '"] td[id*="status"]').html('' + json['deny'] + '');
            $('#error').html('<i class="fa fa-exclamation-circle"></i> ' + json['customer_name'] + ' ' + json['deny'] + '');
            $("#error").show().delay(3000).fadeOut();

          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }

      });
    });
  });
</script>
