{{ header }}{{ column_left }}
<div class="container">
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <!--###OCULTO POR EL MOMENTO LA EDICIÓN DEL CLIENTE DESDE LA TIENDA DEL VENDEDOR
        <button type="submit" form="form-customer" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>-->
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-customer" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <!--<li><a href="#tab-affiliate" data-toggle="tab">{{ tab_affiliate }}</a></li>-->
            {% if customer_id %}
            <!--<li><a href="#tab-history" data-toggle="tab">{{ tab_history }}</a></li>
            <li><a href="#tab-transaction" data-toggle="tab">{{ tab_transaction }}</a></li>
            <li><a href="#tab-reward" data-toggle="tab">{{ tab_reward }}</a></li>
            <li><a href="#tab-ip" data-toggle="tab">{{ tab_ip }}</a></li>
            <li><a href="#tab-groups" data-toggle="tab">{{ text_membership_groups }}</a></li>-->
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <fieldset>
                    <legend>{{ text_your_customer }}</legend>
                    <div class="form-group ">
                      <label class="col-sm-2 control-label" for="input-firstname">{{ entry_firstname }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="firstname" id="input-firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}"  class="form-control" disabled/>
                        <input type="hidden" name="firstname" id="input-firstname" value="{{ firstname }}">
                        {% if error_firstname %}
                        <div class="text-danger">{{ error_firstname }}</div>
                        {% endif %}</div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-lastname">{{ entry_lastname }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" disabled/>
                        <input type="hidden" name="lastname" id="input-lastname" value="{{ lastname }}">
                        {% if error_lastname %}
                        <div class="text-danger">{{ error_lastname }}</div>
                        {% endif %}</div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" disabled/>
                        <input type="hidden" name="email" id="input-email" value="{{ email }}">
                        {% if error_email %}
                        <div class="text-danger">{{ error_email }}</div>
                        {% endif %}</div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" disabled/>
                        <input type="hidden" name="telephone" id="input-telephone" value="{{ telephone }}">
                        {% if error_telephone %}
                        <div class="text-danger">{{ error_telephone }}</div>
                        {% endif %}</div>
                    </div>
                  </fieldset>
                    <fieldset>
                      <legend>{{ text_membership_groups }}: <b>{{ firstname }}</b> | id: <b>{{ customer_id }}</b></legend>
                      <div class="row-fluid">
                        <select data-live-search="true" data-live-search-style="endsWith" class="selectpicker">
                          <!-- Primero cargo el grupo de pertenencia actual -->
                          <option id="{{ membership_group.customer_group_id }}" value="actual_membership_group" data-subtext="(Grupo de pertenencia actual)">{{ membership_group.name }} &#10003;</option>
                          {% for opcion in customers_groups_of_seller %}
                            <option id="{{ opcion.customer_group_id }}" value="{{ opcion.customer_group_id }}">{{ opcion.name }}</option>
                          {% endfor %}
                          <!--<option data-subtext="Rep California" disabled="disabled">Marvin Martinez</option>-->
                        </select>
                        <br/>
                        <span class="help-inline">Recuerde <code><b>El cliente solo puede pertenecer a uno de sus grupos de Cliente</b></code></span>
                      </div>
                  </fieldset>
                  <div class="text-right">
                    <button id="button-groups" type="button" title="{{ button_groups_change_add }}" value="{{ button_groups_change_add }}" onclick="addModsGroups()" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_groups_change_add }}</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ### Oculto la pestaña para editar grupos
            <div class="tab-pane" id="tab-groups">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <fieldset>
                    <legend>{{ text_membership_groups }}: <b>{{ firstname }}</b> | id: <b>{{ customer_id }}</b></legend>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">id</th>
                          <th scope="col">{{ text_customers_groups }}</th>
                          <th scope="col">{{ text_is_a_group_member }}</th>
                          <th scope="col">{{ text_seller_asigned }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% set i = 0 %}
                        {% for customer_group in customer_groups %}
                          <tr>
                            <th scope="row">{{ i }}</th> {% set i = i + 1 %}
                            <td id="customer_group_id">{{ customer_group.customer_group_id }}</td>
                            <td id="customer_group_name">{{ customer_group.name }}</td>

                                ###COMPARO LOS GRUPOS DE CLIENTE EXISTENTES, CON LOS
                                ###GRUPOS DE PERTENENCIA DE UN CUSTOMER

                            {% set pertenece = false %}
                            {% for grupo_pertenencia in customer_groups_ids %}
                              {% if grupo_pertenencia.customer_group_id == customer_group.customer_group_id %}
                                {% set pertenece = true %}
                              {% endif %}
                            {% endfor %}
                            {% if pertenece == true %}
                              <td><label><input id="{{ customer_group.customer_group_id }}" type="checkbox" name="groupOptions" checked></label></td>
                            {% else %}
                              <td><label><input id="{{ customer_group.customer_group_id }}" type="checkbox" name="groupOptions"></label></td>
                            {% endif %}

                            {% for seller in sellers_assigned %}
                              {% if seller.customer_group_id == customer_group.customer_group_id %}
                                <td id="seller_assigned">{{ seller.name }}</td>
                              {% endif%}

                            {% endfor %}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </fieldset>
                  <div class="text-right">
                    <button id="button-groups" type="button" title="{{ button_groups_change_add }}" value="{{ button_groups_change_add }}" onclick="addModsGroups()" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_groups_change_add }}</button>
                  </div>
                </div>
            -->
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Valor del grupo por defecto del vendedor -->
<div id="defaultCustomerGroupSeller" title="defaultCustomerGroupSeller" style="display:none;" value="{{ default_customer_group }}">{{ default_customer_group }}</div>
  <script>
    //Seleción de grupos para agreagar o quitar
    var cantSeleccionados = 0;
    var cantDesSeleccionados= 0;
    //Me traigo el valor del grupo por defecto
    var defaultCustomerGroupSeller = $('#defaultCustomerGroupSeller').text();
    //Si el id del grupo del input es == 1, lo pongo en Disabled para que no lo
    //puedan modificar
    $("input[type='checkbox'][name='groupOptions'][id='1']").attr('disabled','disabled');
    //Si el id del grupo es igual al id del grupo por defecto del vendedor
    //lo pongo en Disabled para que no lo puedan modificar
    $("input[type='checkbox'][name='groupOptions'][id='"+ defaultCustomerGroupSeller +"']").attr('disabled','disabled');


    //Objeto
      function Grupo(id, grupo, pertenece)
      {
          this.id = id;
          this.grupo = grupo;
          this.pertenece = pertenece;
      }

      function addModsGroups(...args)
      {
        var gruposDeClientes = new Array();

        $("input[type='checkbox'][name='groupOptions']").each(function()
        {
          if ($(this).prop('checked') == true )
            {
              cantSeleccionados++;
              grupoNuevo = new Grupo($(this).attr('id'), 'Agregar', true);
              gruposDeClientes.push(grupoNuevo);
            } else {
                cantDesSeleccionados++;
                grupoNuevo = new Grupo($(this).attr('id'), 'Quitar', false);
                gruposDeClientes.push(grupoNuevo);
            }
        });

        $.ajax({
          url: 'index.php?route=saccount/customers/addmodsgroups&user_token={{ user_token }}&customer_id={{ customer_id }}',
          type: 'post',
          data: { gruposDeClientes },
          dataType: 'json',

          beforeSend: function() {
            $('#button-groups').button('loading');
          },

          complete: function() {
            $('#button-history').button('reset');
          },

          success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
               $('#tab-groups').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }

            if (json['success']) {
              $('#tab-groups').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
              $('#button-groups').button('reset');
              console.log('JSON LLEGO OK');
              console.log(json['llega']);
              console.log(json['GRUPOS']);
              console.log(json['CUSTOMER-ID']);
              //$('#transaction').load('index.php?route=customer/customer/transaction&user_token={{ user_token }}&customer_id={{ customer_id }}');

              //$('#tab-transaction input[name=\'amount\']').val('');
              //$('#tab-transaction input[name=\'description\']').val('');
            }
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }

        });
      console.log(gruposDeClientes);
      }
  </script>

  <script>
    //###INDEPI
    //Nuevo Script para seleccionar un solo grupo de pertenencia para un cliente
    //y un vendedor dados.

    //Obtengo el valor del actual grupo de pertenencia del cliente
    var $id_grupo_actual = $("option[value='actual_membership_group'" ).attr('id');

    //Obtengo el valor del boton seleccionado cada vez que cambia, observando su
    //comportamiento
    var $id_grupo_seleccionado = $('.filter-option.pull-left').text();
    $('select').on('change', function() {
      //alert( this.value );
      $id_grupo_seleccionado = this.value;
    })

    ///Obtengo el ID del Grupo que contiene un texto
    //var $id_grupo_seleccionado = $("option:contains('"+$grupo_seleccionado+"')").attr('id');

    //Seleción de grupos para agreagar o quitar
    var cantSeleccionados = 0;
    var cantDesSeleccionados= 0;
    //Me traigo el valor del grupo por defecto
    var defaultCustomerGroupSeller = $('#defaultCustomerGroupSeller').text();



    //Objeto
      function Grupo(id, grupo, pertenece)
      {
          this.id = id;
          this.grupo = grupo;
          this.pertenece = pertenece;
      }

      function addModsGroups(...args)
      {
        var gruposDeClientes = new Array();

        //Agrego como grupos nuevos, al actual grupo de pertenencia y
        //al nuevo grupo seleccionado
        //SIEMPRE Y CUANDO SI el grupo actual es distinto al nuevo
        if($id_grupo_seleccionado != 'actual_membership_group'){
          grupoActual = new Grupo($id_grupo_actual, 'Quitar', false);
          gruposDeClientes.push(grupoActual);
          grupoNuevo = new Grupo($id_grupo_seleccionado, 'Agregar', true);
          gruposDeClientes.push(grupoNuevo);
        }


        $.ajax({
          url:'index.php?route=saccount/customers/addmodsgroups&user_token={{ user_token }}&customer_id={{ customer_id }}',
          type: 'post',
          data: { gruposDeClientes },
          dataType: 'json',

          beforeSend: function() {
            $('#button-groups').button('loading');
          },

          error: function() { // if error occured
              alert("Error occured.please try again");
              $('#tab-general').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          },

          complete: function() {
            $('#button-history').button('reset');
          },

          success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
               $('#tab-general').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }

            if (json['success']) {
              $('#tab-general').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
              $('#button-groups').button('reset');
              $('.filter-option.pull-left').append(' &#10003;');
              //Redirecciono a la pagina de clientes
              setTimeout(function() {
                window.location.replace("index.php?route=saccount/customers");
              }, 1000);
              console.log('JSON LLEGO OK');
              console.log(json['llega']);
              console.log(json['GRUPOS']);
              console.log(json['CUSTOMER-ID']);
            }
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }

        });
      console.log(gruposDeClientes);
      }
  </script>
</div>
{{ footer }}
