{{ header }}{{ column_left }}
<div class="container">
  <div id="content">
    <div class="page-header">
      <div class="container-fluid">
        <div class="pull-right">
          <a href="{{ insert }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
          <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-option').submit() : false;"><i class="fa fa-trash-o"></i></button>
        </div>
        <h1><i class="fa fa-users" aria-hidden="true"></i> {{ heading_title }} </h1>
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      {% if error_warning %}
      <div class="alert alert-danger alert-dismissible" id="error"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      {% if success %}
      <div class="alert alert-success alert-dismissible" id="success"><i class="fa fa-check-circle"></i> {{ text_success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
    </div>
    <div class="container-fluid" id="list-clients">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_cg_list }}</h3>
        </div>
        <div class="panel-body">
          <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-option">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                    <!--{{ dump(customers) }}-->
                    <!--{{ dump(customer_approval.approve) }}-->
                    <!--{{ dump(customers_groups) }}-->
                    <!--{{ dump(customers_detailed) }}-->
                    <!--{{ dump(seller_id) }}-->
                    <!--{{ dump(seller_username) }}-->
                    <td>{{ column_group_name }}</td>
                    <td>{{ column_group_order }}</td>
                    <td>{{ column_group_action }}</td>
                  </tr>
                </thead>
                <tbody>
                  {% for group in customers_groups %}
                  <td class="text-center">
                    {% if group.name ends with "Default" %}
                      <input type="checkbox" name="" value="{{ group.customer_group_id }}" disabled/>
                    {% else %}
                      {% if group.customer_group_id in selected %}
                        <input type="checkbox" name="selected[]" value="{{ group.customer_group_id }}" checked="checked" />
                      {% else %}
                        <input type="checkbox" name="selected[]" value="{{ group.customer_group_id }}" />
                      {% endif %}
                    {% endif %}
                  </td>



                    <td>{{ group.name }}</td>
                    <td>{{ group.sort_order }}</td>
                    <td>
                    {% if group.name ends with "Default" %}
                      <a title="{{ you_cant_edit }}">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        {{ why_cant_edit}}
                      </a>
                    {% else %}
                      <div class="container-fluid">
                        <div class="row">
                          <div id="edit" class="col-md-2">
                            <a id="{{ group.customer_group_id }}" name="{{ group.name }}"
                              href=" {{ edit }}{{ group.customer_group_id }}"
                              data-toggle="tooltip" title="{{ button_edit }}"
                              class="btn btn-primary"> <i class="fa fa-pencil"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    </td>
                  </tr>
                  {% endfor %} {% if options %} {% for option in options %}
                  <tr>
                    <td class="text-center">

                      {% if option.seller_id %} {% if option.option_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ option.option_id }}" checked="checked" /> {% else %}
                      <input type="checkbox" name="selected[]" value="{{ option.option_id }}" /> {% endif %} {% endif %}

                    </td>
                    <td class="text-left">{{ option.name }}</td>
                    <td class="text-right">{{ option.sort_order }}</td>
                    <td class="text-right">

                      {% if option.approve == 0 %}

                      <a href="{{ option.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary">
                        <i class="fa fa-pencil"></i>
                      </a> {% endif %}

                    </td>
                  </tr>
                  {% endfor %} {% else %}
                  <tr>
                    <td class="text-center" colspan="7">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
