<div  style="background-color: #e9eff3;">
 <h1 class="loginh1">  </h1>
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script><link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /><script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script><link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /><link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" /><link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet"><link href="catalog/view/theme/default/stylesheet/register.css" rel="stylesheet">
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}

      <div class="col-sm-12">
            <div class="col-sm-5"> </div>
	      <div class="col-sm-7">
		    <div id="logo">
			    {% if logo  %}
		     <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"  height="40px" /></a>
		       {% else  %}
			<h1><a href="{{ home }}">{{ name }}</a></h1>
			{% endif %}

			  </div>
		</div>

    </div>



     <div id="content"   style="font-weight: 400;margin-top: 4%;overflow: hidden;padding: 26px 24px 46px;">



		<div  style="width:320px;margin:0 auto;">
		   <div class="well">

		    <form action="{{ action }}" method="post" enctype="multipart/form-data">
		      <div class="form-group">
			<label class="control-label" for="input-email">{{ entry_email }}</label>
			<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
		      </div>
		      <div class="form-group">
			<label class="control-label" for="input-password">{{ entry_password }}</label>
			<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
			<a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
		      <input type="submit" value="{{ button_login }}" class="btn btn-primary" />
		      {% if redirect %}
		      <input type="hidden" name="redirect" value="{{ redirect }}" />
		      {% endif %}
		    </form>
		  </div>

			<a  id="login1" href="{{ register }}" class="register">{{ text_register }}</a>

			<a  id="login1" href="{{ forgotten }}" class="register">{{ text_lost_password }}</a>
			<a  id="login1" href="{{ HTTP_SERVER1 }}" class="register">{{ text_back_to_the_store }}</a>


		</div>

</div>
</div>
