{{ header }}{{ column_left }}
<script type="text/javascript" src="catalog/view/javascript/jquery/ajaxupload.js"></script>
  <style>
  .page-header {
    border-bottom: 0px solid #eee;
    margin: 40px 0 20px;
    padding-bottom: 9px;
}
</style>
<div class="container">
<div class="row">

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      
	 <h1>{{ heading_title1 }}</h1>
       <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if   error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
   {% endif %}
	
	 {% if   success %}

  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>

 {% endif %}
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title1 }}</h3>
      </div>
      <div class="panel-body">
        		
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">

		<div class="customer-offer-create-preview">

		<h3>{{ entry_reg }}</h3>
		</div>
		<div>



		<div class="left-sidebar" style="margin-left:5px; margin-right:0px; float: left; height:110px;width:150px;">
		<div class="main_info">
		<div class="back">
		<div class="main_photo">
		<img src="{{ thumb }}" alt="" id="thumb" width="100" height="100"/>

		</div>

		</div><!-- end back -->
		</div><!-- end main_info -->



		</div> <!-- end left -->





		<div style="width:700px;float:left">
		<div class="product-list">
		<div id="messages_product_view"></div>


		<h1 itemprop="name">{{ product_description }}</h1>

		<div class="info">
		<div id="details-preview">


		<span class="label">{{ entry_model }}</span>
		{{ model }}


		

		</div>

		</div><!-- end info -->

		</div>
		</div>
		</div>



		<div class="clearfix"></div>

		<div id="product_description">
					
					<h3>{{ entry_reg1 }}</h3>


		{{ description }}

		
		
		</div>
		
		<div class="buttons clearfix">

			<div class="pull-right">
			<span><a href='{{ insert }}' class="btn btn-primary">{{ b_no }}</a></span>
		    <span> <a href='{{ action }}' class="btn btn-primary">{{ b_yes }}</a></span>	 
			</div>
		
		</div>
		
		
		
		



		</form>

      </div>
    </div>
  </div>
</div>
  </div>
</div>

{{ footer }}