{{ header }}{{ column_left }}
<script type="text/javascript" src="catalog/view/javascript/jquery/ajaxupload.js"></script>
  <style>
  .page-header {
    border-bottom: 0px solid #eee;
    margin: 40px 0 20px;
    padding-bottom: 9px;
}
</style>
<div class="container">
<div class="row">

<div id="content">
  <div class="page-header">
    <div class="container-fluid">

	 <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
   {% if  error_warning  %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

	{% if  success  %}

  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>

  {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-attribute" class="form-horizontal">

			<div class="fieldset">

			<ul class="form-list">
			<li class="wide">
			{{ text_product }}
			<a href="{{ insert }}">{{ text_insert }}</a>
			</p>
			</li>


			<li class="wide product-name-main">
			<label  for="product_name">{{ text_search_product }}</label>
			<div class="input-box">
			<input type="text" style="width:500px;padding:5px" name="product_name" id="product_name" value="">
			</div>
			</li>




			<input type="hidden" value="" name="select_product" id="select_product">

			</ul>



			</div>


			<div class="buttons clearfix">

			<div class="pull-right">
			<input type="submit" value="{{ button_next }}" class="btn btn-primary" />
			</div>
			</div>




        </form>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<script type="text/javascript"><!--

$('input[name=\'product_name\']').autocomplete({
 	'source': function(request, response) {

	   $('input[name=\'select_product\']').val('');

		$.ajax({
			url: 'index.php?route=saccount/offer/autocomplete&filter_name1=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {

		$('input[name=\'product_name\']').val(item['label']);
		$('input[name=\'select_product\']').val(item['value']);
	}
});



//--></script>
{{ footer }}
