{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>

      <table class="form" style="width:100%">

        <tr>

		<td style="width:200px">{{ entry_order_id }}:

            <input type="text" name="filter_order_id" value="{{ filter_order_id }}" id="filter_order_id" class="form-control"/></td>

          <td >{{ entry_date_start }}:

	  <div class="input-group date">
                          <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" class="form-control" />
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                          </span></div>

	</td>



          <td >{{ entry_date_end }}:

              <div class="input-group date">
                          <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" class="form-control" />
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                          </span></div>
			  </td>




          <td style="text-align: right;"><a onclick="filter();" class="btn btn-primary">{{ button_filter }}</a></td>

        </tr>

      </table>

      <br/>

      {% if orders %}


      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-right">{{ column_order_id }}</td>
              <td class="text-left">{{ column_customer }}</td>
              <td class="text-right">{{ column_product }}</td>
              <td class="text-left">{{ column_status }}</td>
              <td class="text-right">{{ column_total }}</td>
              <td class="text-left">{{ column_date_added }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
           {% for order in orders %}
            <tr>
              <td class="text-right">#{{ order.order_id }}</td>
              <td class="text-left">{{ order.name }}</td>
              <td class="text-right">{{ order.products }}</td>
              <td class="text-left">{{ order.status }}</td>
              <td class="text-right">{{ order.total }}</td>
              <td class="text-left">{{ order.date_added }}</td>
              <td class="text-right"><a href="{{ order.href }}" data-toggle="tooltip" title="{{ button_view }}"
	      class="btn btn-info"><i class="fa fa-eye"></i></a>

	      &nbsp;&nbsp;<a class="btn btn-info" target="_blank" href="{{ order.invoice }}" title="Print Invoice"
			  ><i class="fa fa-print"></i></a>

	      </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>




  <script type="text/javascript" src="catalog/view/javascript/summernote/summernote.js"></script>
  <link href="catalog/view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="catalog/view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="catalog/view/javascript/summernote/opencart.js"></script>




<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>




<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickTime: false
});

$('.time').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickDate: false
});

$('.datetime').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickDate: true,
	pickTime: true
});
//--></script>

	  <script type="text/javascript"><!--

function filter() {

	url = 'index.php?route=saccount/order';




	var filter_date_start = $('input[name=\'filter_date_start\']').val();



	if (filter_date_start) {

		url += '&filter_date_start=' + encodeURIComponent(filter_date_start);

	}



	var filter_date_end = $('input[name=\'filter_date_end\']').val();



	if (filter_date_end) {

		url += '&filter_date_end=' + encodeURIComponent(filter_date_end);

	}





	var filter_order_id = $('input[name=\'filter_order_id\']').val();



	if (filter_order_id) {

		url += '&filter_order_id=' + encodeURIComponent(filter_order_id);

	}



	location = url;

}

//--></script>

{{ footer }}
