
<div style="text-align: center; width: 400px; border-radius: 5px; margin-left: 400px; margin-top: 100px; border: 1px solid rgb(139, 139, 139);
padding: 10px;">
	  <p>Click here to proceed....</p>
	 
	  
	  <form action={{ action }}" method="post" id="PayPalForm" 
		name="PayPalForm"  target="_top">
		
		<input type="hidden" name="cmd" value="_xclick">
		<input type="hidden" name="business" value={{ email }}">
		<input type="hidden" name="amount" value={{ amount }}" id="amount">
		<input type="hidden" name="item_name" value="Payment">
		<input type="hidden" name="item_number" value="1">
		<input type="hidden" name="custom" value={{ customs }}#{{ gid }}" id="custom">
		<input type="hidden" name="currency_code" value={{ config_currency }}">
		<input type="hidden" name="cancel_return" value={{ cancelURL }}">
		<input type="hidden" name="return" value={{ notify_url }}">
		<input type="hidden" name="notify_url" value={{ notify_url }}"> 
		<input type="button" class="button" value="Paypal" onclick="paypal()"/> 
		
		
		</form>

		
</div>

<script>
  function paypal(){
  
    
	
	document.PayPalForm.submit();
    
	
	
	
	}
   </script>