{{ header }}
<style>

#ver-zebra
{
	 font-size: 12px;

    text-align: justify;
    width: 100%;;
	border-collapse: collapse;
}
#ver-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #039;
}
#ver-zebra td
{
	padding: 8px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
	color: #5D5D5D;
	background: #e8edff;
}
.vzebra-odd
{
	background: #eff2ff;
}
.vzebra-even
{
	background: #e8edff;
}
#ver-zebra #vzebra-adventure, #ver-zebra #vzebra-children
{
	background: #d0dafd;
	border-bottom: 1px solid #c8d4fd;
}
#ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action
{
	background: #48B7E5;
	border-bottom: 1px solid #d6dfff;
	color:#fff;
	font-weight:bold;

}


#vzebra-comedy1
{
	background: #EEEEEE;
	border-bottom: 1px solid #d6dfff;
	color:#5D5D5D ! important;
	font-weight:bold;
	font-size:13px;
}




</style>
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
<table summary="Most Favorite Movies" id="ver-zebra">
    <colgroup>
    	<col class="vzebra-odd">
    	<col class="vzebra-even">
    	<col class="vzebra-odd">
        <col class="vzebra-even">
    </colgroup>


	  <thead>
    	<tr>
            <th id="vzebra-comedy" scope="col">{{ column_plan }}</th>

		   <th id="vzebra-comedy" scope="col">{{ column_duration }}</th>

            <th id="vzebra-comedy" scope="col">{{ column_charges }}</th>

		   <th id="vzebra-comedy" scope="col">{{ column_about }}</th>

		   <th id="vzebra-comedy" scope="col">{{ column_upgrade }}</th>



        </tr>
    </thead>

    <tbody>
	    {% if getmemberships %}

	     {% for getmembership in getmemberships %}

    	<tr>
        	<td id="vzebra-comedy1" scope="col">{{  getmembership.commission_name }}

			{% if getmembership.amt >0 %}


			{% else %}


			{{ text_free }}

			{% endif %}

			</td>

			<td id="vzebra-comedy1" scope="col">

			 {% if getmembership.per %}
			 {% if getmembership.duration_id %}

			  {{ getmembership.per }} / {{ durations[getmembership.duration_id] }}

			 {% endif %}
			 {% endif %}

			</td>

			<td id="vzebra-comedy1" scope="col">

			 {% if getmembership.amt >0 %}


			{% else %}


			{{ text_free }}

			{% endif %}


			</td>

			<td id="vzebra-comedy1" scope="col">{{ getmembership.product_limit }}	</td>


			<td>

			{% if commission_id == getmembership.commission_id %}

		   <b>{{ btn_current_plan }}</b>

			{% else %}

			    {% if getmembership.amt >0 %}

				<form action="{{ action }}" method="post"
				name="PayPalForm{{ getmembership.commission_id }}" id="PayPalForm{{ getmembership.commission_id }}"  target="_top">
				<input type="hidden" name="cmd" value="_xclick" />
				<input type="hidden" name="upload" value="1" />
				<input type="hidden" name="business" value="{{ email }}" />
				<input type="hidden" name="currency_code" value="{{ currency_code }}">
				<input type="hidden" name="item_name" value="{{ getmembership.commission_name }}">
				<input type="hidden" name="item_number" value="1">
				<input type="hidden" name="rm" value="2" />
				<input type="hidden" name="no_note" value="1" />
				<input type="hidden" name="lc" value="{{ lc }}" />
				<input type="hidden" name="address_override" value="0" />
				<input type="hidden" name="charset" value="utf-8" />
				<input type="hidden" name="amount" value="{{ getmembership.amt }}">
				<input type="hidden" name="custom" value="{{ custom }}#{{ getmembership.commission_id }}">
				<input type="hidden" name="cancel_return" value="{{ cancelURL }}">
				<input type="hidden" name="return" value="{{ notify_url }}">
				<input type="hidden" name="notify_url" value="{{ notify_url }}">


				<input type="submit" class="btn btn-primary" value="{{ btn_upgrade }}" onclick="paypal{{ getmembership.commission_id }}();"/>

				</form>

				<script>
				function paypal{{ getmembership.commission_id }}(){
				document.PayPalForm{{ getmembership.commission_id }}.submit();
				}
				</script>

			    {% else %}

				<input type="button" class="btn btn-primary" value="{{ btn_upgrade }}"
				onclick="updatemember{{ getmembership.commission_id }}('{{ getmembership.commission_id }}');">

				<script>

				function updatemember{{ getmembership.commission_id }}(commission_id) {
				$.ajax({
				url: 'index.php?route=saccount/plan/update',
				type: 'post',
				data: 'commission_id=' + commission_id,
				dataType: 'json',
				success: function(json) {
				$('.success, .warning, .attention, .information, .error').remove();

				if (json['success']) {
				$('#ver-zebra').before('<div class="success">' + json['success'] + '</div>');

				$('.success').fadeIn('slow');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				location.reload();
				}
				}
				});
				}

				</script>


			    {% endif %}




			{% endif %}




			</td>


         </tr>
		 {% endfor %}
		  {% endif %}

    </tbody>


    </table>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
