{{ header }}
<style>

#ver-zebra
{
	 font-size: 12px;

    text-align: justify;
    width: 100%;;
	border-collapse: collapse;
}
#ver-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #039;
}
#ver-zebra td
{
	padding: 8px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
	color: #5D5D5D;
	background: #e8edff;
}
.vzebra-odd
{
	background: #eff2ff;
}
.vzebra-even
{
	background: #e8edff;
}
#ver-zebra #vzebra-adventure, #ver-zebra #vzebra-children
{
	background: #d0dafd;
	border-bottom: 1px solid #c8d4fd;
}
#ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action
{
	background: #48B7E5;
	border-bottom: 1px solid #d6dfff;
	color:#fff;
	font-weight:bold;

}


#vzebra-comedy1
{
	background: #EEEEEE;
	border-bottom: 1px solid #d6dfff;
	color:#5D5D5D ! important;
	font-weight:bold;
	font-size:13px;
}




</style>
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
<table summary="Most Favorite Movies" id="ver-zebra">
    <colgroup>
    	<col class="vzebra-odd">
    	<col class="vzebra-even">
    	<col class="vzebra-odd">
        <col class="vzebra-even">
    </colgroup>


	  <thead>
    	<tr>
            <th id="vzebra-comedy" scope="col">{{ column_plan }}</th>

		   <th id="vzebra-comedy" scope="col">{{ column_duration }}</th>

            <th id="vzebra-comedy" scope="col">{{ column_charges }}</th>

		   <th id="vzebra-comedy" scope="col">{{ column_about }}</th>




        </tr>
    </thead>

    <tbody>
	    {% if getmemberships %}

	     {% for getmembership in getmemberships %}

    	<tr>
        	<td id="vzebra-comedy1" scope="col">{{  getmembership.commission_name }}

			{% if getmembership.amt >0 %}


			{% else %}


			{{ text_free }}

			{% endif %}

			</td>

			<td id="vzebra-comedy1" scope="col">

			 {% if getmembership.per %}
			 {% if getmembership.duration_id %}

			  {{ getmembership.per }} / {{ durations[getmembership.duration_id] }}

			 {% endif %}
			 {% endif %}

			</td>

			<td id="vzebra-comedy1" scope="col">

			 {% if getmembership.amt >0 %}


			{% else %}


			{{ text_free }}

			{% endif %}


			</td>

			<td id="vzebra-comedy1" scope="col">{{ getmembership.product_limit }}	</td>




         </tr>
		 {% endfor %}
		  {% endif %}

    </tbody>


    </table>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
