<div style="background-color: #e9eff3;">
  <h1 class="loginh1"></h1>
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script><link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script><link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/><link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/><link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet"><link href="catalog/view/theme/default/stylesheet/register.css" rel="stylesheet">
  <script src="catalog/view/javascript/common.js" type="text/javascript"></script>

  {% if success %}
    <div class="alert alert-success alert-dismissible">
      <i class="fa fa-check-circle"></i>
      {{ success }}</div>
  {% endif %}
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i>
      {{ error_warning }}</div>
  {% endif %}

  <div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">
      <div id="logo" style="text-align:center">
        {% if logo %}
          <h3>
            <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" height="40px"/></a>{{ heading_title }}</h3>
        {% else  %}
          <h3>
            <a href="{{ home }}">{{ name }}</a><br/>{{ heading_title }}</h3>
        {% endif %}

      </div>
    </div>

    <div class="col-sm-3"></div>

  </div>

  <div id="content" style="width:100%;overflow:hidden">

    <div class="col-sm-4"></div>

    <div class="col-sm-5">
      <div class="well">

        <p>{{ text_account_already }}</p>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <fieldset id="account">

            <div class="form-group required">
              <label class="col-sm-3 control-label" for="input-firstname">{{ entry_firstname }}</label>
              <div class="col-sm-8">
                <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/>
                {% if error_firstname %}
                  <div class="text-danger">{{ error_firstname }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-3 control-label" for="input-lastname">{{ entry_lastname }}</label>
              <div class="col-sm-8">
                <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/>
                {% if error_lastname %}
                  <div class="text-danger">{{ error_lastname }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-3 control-label" for="input-email">{{ entry_email }}</label>
              <div class="col-sm-8">
                <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                {% if error_email %}
                  <div class="text-danger">{{ error_email }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-3 control-label" for="input-telephone">{{ entry_telephone }}</label>
              <div class="col-sm-8">
                <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
                {% if error_telephone %}
                  <div class="text-danger">{{ error_telephone }}</div>
                {% endif %}
              </div>
            </div>

            <div class="form-group required">
              <label class="col-sm-3 control-label" for="input-username">{{  entry_username }}</label>
              <div class="col-sm-8"><input type="text" name="username" value="{{  username }}" placeholder="{{  entry_username }}" id="input-username" class="form-control"/>
                <input type="button" name="avialability" id="avialability" value="{{ text_check_availability }}"/>
                {% if error_username %}
                  <div class="text-danger">
                    {{ error_username }}
                  </div>
                {% endif %}
                <span class="text-danger" id="availerror"></span>
              </div>
            </div>

            <div class="form-group required">
              <label class="col-sm-3 control-label" for="input-password">{{ entry_password }}</label>
              <div class="col-sm-8">
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                {% if error_password %}
                  <div class="text-danger">{{ error_password }}</div>
                {% endif %}
              </div>
            </div>

            <!-- ### Ocultar planes de comisiones para vendedor
            <div class="form-group" id="plan-tr">
              <label class="col-sm-3 control-label" for="input-plan">{{ text_select_plan }}</label>
              <div class="col-sm-8">
                <select name="new_commission_id" class="form-control">
                  <option value="">--{{ text_select_plan }}--</option>
                  {% for commission in ncommissions %}
                    {% if commission.commission_id == new_commission_id %}
                      <option value="{{ commission.commission_id }}" selected="selected">
                        {{ commission.commission_name }}
                        (
                        {{ commission.amount1 }}
                        )</option>
                    {% else %}
                      <option value="{{ commission.commission_id }}">{{ commission.commission_name }}({{ commission.amount1 }})</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <a target="_blank" href="{{ allplan  }}">{{ text_check_our_plan }}</a>
              </div>
            </div>
          -->
          </fieldset>

          <div class="well" style="margin:0 auto;background-color:#f6f9fa;">
            <div class="buttons">

              {% if text_agree %}

                <p style="text-align:center;">
                  {{ text_agree  }}

                  {% if agree %}

                    <input type="checkbox" name="agree" value="1" checked="checked"/>
                  {% else %}
                    <input type="checkbox" name="agree" value="1"/>
                  {% endif %}
                  &nbsp;</p>

                <input type="submit" value="{{ text_create_my_account }}" class="background"/>

              {% else %}

                <input type="submit" value="{{ text_create_my_account }}" class="background"/>

              {% endif %}

            </div>
          </div>

        </form>

      </div>

      <div class="col-sm-4"></div>

    </div>

  </div>
</div>

<script type="text/javascript">
  <!--
  $('#avialability').bind('click', function() {
    $.ajax({
      url: 'index.php?route=saccount/register/availability',
      type: 'post',
      dataType: 'json',
      data: 'username=' + encodeURIComponent($('input[name=\'username\']').val()),
      success: function(data) {
        if (data['error']) {
          $('#availerror').html(data['error']);
        }

        if (data['success']) {
          $('#availerror').html('<div class="success">' + data['success'] + '</div>');
        }
      }
    });
    return false;
  });

  //-->
</script>
