{{ header }}{{ column_left }}
<link href="catalog/view/javascript/uploadimage/uploadfile.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="catalog/view/javascript/uploadimage/jquery.uploadfile.min.js"></script>

<script type="text/javascript"><!--
$(document).ready(function()
{
var settings = {
    url: "index.php?route=saccount/uploadimages/upload&parent={{ parent }}",
    dragDrop:true,
    fileName: "myfile",
    allowedTypes:"jpg,png,gif,doc,pdf,zip",
    returnType:"json",
	 onSuccess:function(files,data,xhr)
    {
        //alert(data[0]);
    },
    showDelete:true,
    deleteCallback: function(data,pd)
	{
    for(var i=0;i<data.length;i++)
    {
        $.post("delete.php",{op:"delete",name:data[i]},
        function(resp, textStatus, jqXHR)
        {
            //Show Message
            $("#status").append("<div>File Deleted</div>");
        });
     }
    pd.statusbar.hide(); //You choice to hide/not.

}
}
var uploadObj = $("#mulitplefileuploader").uploadFile(settings);

});
//--></script>

<div class="container">
<div class="row">
<div id="content">
  <div class="page-header">
    <div class="container-fluid">

      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
    </div>
  </div>
  <div class="container-fluid">
     {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">

        <div id="tab-general">
          <div id="mulitplefileuploader">{{ button_upload }}</div>
				<div id="status"></div>
          <a href="{{ imageshref }}" target="_blank" class="btn btn-primary" style="float:right">{{ button_view_images }}</a>
        </div>

		<div class="buttons">
		<div class="pull-left"><a href="{{ back }}" class="btn btn-primary">{{ button_back }}</a></div>

		</div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
{{ footer }}
