<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<!--<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>-->
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- Bootstap Selector -->
<link href="catalog/view/javascript/bootstrap/css/bootstrap-select.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap-select.js"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>

<!--  Nueva Versión
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
-->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

<script>

$(document).ready(function() {
// Override summernotes image manager
  $('button[data-event=\'showImageDialog\']').attr('data-toggle', 'image').removeAttr('data-event');

  $(document).delegate('button[data-toggle=\'image\']', 'click', function() {
    $('#modal-image').remove();

    $(this).parents('.note-editor').find('.note-editable').focus();

    $.ajax({
      url: 'index.php?route=common/filemanager',
      dataType: 'html',
      beforeSend: function() {
        $('#button-image i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
        $('#button-image').prop('disabled', true);
      },
      complete: function() {
        $('#button-image i').replaceWith('<i class="fa fa-upload"></i>');
        $('#button-image').prop('disabled', false);
      },
      success: function(html) {
        $('body').append('<div id="modal-image" class="modal">' + html + '</div>');

        $('#modal-image').modal('show');
      }
    });
  });

  // Image Manager
  $(document).delegate('a[data-toggle=\'image\']', 'click', function(e) {
    e.preventDefault();

    $('.popover').popover('hide', function() {
      $('.popover').remove();
    });

    var element = this;

    $(element).popover({
      html: true,
      placement: 'right',
      trigger: 'manual',
      content: function() {
        return '<button type="button" id="button-image" class="btn btn-primary"><i class="fa fa-pencil"></i></button> <button type="button" id="button-clear" style="display:none" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>';
      }
    });

    $(element).popover('show');

    $('#button-image').on('click', function() {
      $('#modal-image').remove();

      $.ajax({
        url: 'index.php?route=common/filemanager&token=&target=' + $(element).parent().find('input').attr('id') + '&thumb=' + $(element).attr('id'),
        dataType: 'html',
        beforeSend: function() {
          $('#button-image i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
          $('#button-image').prop('disabled', true);
        },
        complete: function() {
          $('#button-image i').replaceWith('<i class="fa fa-pencil"></i>');
          $('#button-image').prop('disabled', false);
        },
        success: function(html) {
          $('body').append('<div id="modal-image" class="modal">' + html + '</div>');

          $('#modal-image').modal('show');
        }
      });

      $(element).popover('hide', function() {
        $('.popover').remove();
      });
    });

    $('#button-clear').on('click', function() {
      $(element).find('img').attr('src', $(element).find('img').attr('data-placeholder'));

      $(element).parent().find('input').attr('value', '');

      $(element).popover('hide', function() {
        $('.popover').remove();
      });
    });
  });

  // tooltips on hover
  //$('[data-toggle=\'tooltip\']').tooltip({container: 'body', html: true});

  // Makes tooltips work on ajax generated content
  $(document).ajaxStop(function() {
    //$('[data-toggle=\'tooltip\']').tooltip({container: 'body'});
  });

  // https://github.com/opencart/opencart/issues/2595
  $.event.special.remove = {
    remove: function(o) {
      if (o.handler) {
        o.handler.apply(this, arguments);
      }
    }
  }

  $('[data-toggle=\'tooltip\']').on('remove', function() {
    $(this).tooltip('destroy');
  });
});

</script>

</head>
<body>
<nav id="top">
  <div class="container">
    {{ language }}

  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>

        <div class="col-sm-6">

  {% if logged %}
  <div class="col-sm-13" style="margin-top:40px;text-align:right;">
    <span style="display:block; font-weight:bold;font-size:15px;color:red;ont-style:italic;">
      {{ text_welcome }} {% if user_firstname is defined %} {{ user_firstname }} {% endif %}
    </span>
    <span> {{ text_logged }} <a href="index.php?route=saccount/account"> <b>{{ username }}</b></a>
      <b>(</b> <a href="index.php?route=saccount/logout">{{ text_logout }}</a> <b>)</b>
    </span>
  </div>
  {% endif %}

      </div>

    </div>
  </div>
</header>
{% if logged %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ account }}">{{ text_home }}</a></li>
        <li class="dropdown"><a href="{{ account }}" class="dropdown-toggle" data-toggle="dropdown"
      role="button" aria-haspopup="true" aria-expanded="false">{{ text_extensions }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="index.php?route=saccount/customers">
              <i class="fa fa-user" aria-hidden="true"></i> {{ text_manage_customers }}
            </a>
          </li>
          <li>
            <a href="index.php?route=saccount/customers_groups">
              <i class="fa fa-users" aria-hidden="true"></i> {{ text_manage_customers_groups }}
            </a>
          </li>
          <li>
            <a href="index.php?route=saccount/users">
              <i class="fa fa-user-circle" aria-hidden="true"></i> {{ text_manage_users }}
            </a>
          </li>
          <li>
            <a href="{{ manageextensions }}">
              <i class="fa fa-cubes" aria-hidden="true"></i> {{ text_manageextensions }}
            </a>
          </li>
          <li>
            <a href="{{ addextensions }}">
              <i class="fa fa-cube" aria-hidden="true"></i> {{ text_addextensions }}
            </a>
          </li>
          <li>
            <a href="{{ offer }}">
              <i class="fa fa-cube" aria-hidden="true"></i> {{ text_offer }}
            </a>
          </li>
          <!--oculto botones
          <li><a href="index.php?route=saccount/extension">{{ text_manageextensions }}</a></li>
          <li><a href="index.php?route=saccount/extension/insert">{{ text_addextensions }}</a></li>
          <li><a href="index.php?route=saccount/offer">{{ text_offer }}</a></li>
          <li><a href="index.php?route=saccount/attribute">{{ text_attributes }}</a></li>
          <li><a href="index.php?route=saccount/option">{{ text_option }}</a></li>

          <li><a href="index.php?route=saccount/download">{{ text_download }}</a></li>

          <li><a href="index.php?route=saccount/uploadimages">{{ text_images }}</a></li>
          <li><a href="index.php?route=saccount/smartexportimport">{{ text_export }}</a></li>
        -->
      </ul>
    </li>
    <li class="dropdown"><a href="{{ account }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
    aria-expanded="false">{{ text_account }}<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ edit }}">
            <i class="fa fa-cogs" aria-hidden="true"></i> {{ text_edit }}
          </a>
        </li>
        <li>
          <a href="{{ password }}">
            <i class="fa fa-cog" aria-hidden="true"></i> {{ text_password }}
          </a>
        </li>
        <li>
          <a href="{{ address }}">
            <i class="fa fa-address-book-o" aria-hidden="true"></i> {{ text_address }}
          </a>
        </li>
        <!--
        <li>
          <a href="{{ plan }}">
            <i class="fa fa-line-chart" aria-hidden="true"></i> {{ text_plan }}
          </a>
        </li>
        <li>
          <a href="{{ images }}">
            <i class="fa fa-upload" aria-hidden="true"></i> {{ text_images }}
          </a>
        </li>
        <li>
          <a href="{{ category }}">
            <i class="fa fa-tags" aria-hidden="true"></i> {{ text_category }}
          </a>
        </li>
        <li>
          <a href="{{ download }}">
            <i class="fa fa-download" aria-hidden="true"></i> {{ text_download }}
          </a>
        </li>-->
      </ul>
    </li>
    <li class="dropdown"><a href="{{ account }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">{{ text_order1 }}<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <!--
        <li>
          <a href="{{ address2 }}">
            <i class="fa fa-credit-card" aria-hidden="true"></i> {{ text_getpaid }}
          </a>
        </li>-->
        <li>
          <a href="{{ order }}">
            <i class="fa fa-history" aria-hidden="true"></i> {{ text_order }}
          </a>
        </li>
        <!--
        <li>
          <a href="{{ transaction }}">
            <i class="fa fa-money" aria-hidden="true"></i> {{ text_transaction }}
          </a>
        </li>-->
      </ul>
    </li>

          </ul>


    </div>
  </nav>
</div>
{% endif %}
