{{ header }}
<div class="container">
   <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
 {% if error_warning %}
<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
    {% if success %}
<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
       <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal" id="form-review">

		 <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ your_name }}:</label>
                    <input type="text" name="author" readonly  value="{{ author }}" id="input-name" class="form-control" />
                  </div>
                </div>

		<div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ your_review }}:</label>
					 <input type="hidden" name="order_id" value="{{ order_id }}" />
	                <input type="hidden" name="seller_id" value="{{ seller_id }}" />
                    <textarea name="text" rows="5" id="input-review" class="form-control">{{ text }}</textarea>
					{% if  error_text  %}
					<span class="text-danger">{{ error_text }}</span>
					{% endif %}
                  </div>
                </div>

         <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">{{ entry_rating }}</label>

		<b class="rating">{{ entry_bad }}</b>&nbsp;
              {% if  rating == 1  %}
              <input type="radio" name="rating" value="1" checked />
               {% else %}
              <input type="radio" name="rating" value="1" />
              {% endif %}
              &nbsp;
              {% if  rating == 2  %}
              <input type="radio" name="rating" value="2" checked />
               {% else %}
              <input type="radio" name="rating" value="2" />
              {% endif %}
              &nbsp;
              {% if  rating == 3  %}
              <input type="radio" name="rating" value="3" checked />
               {% else %}
              <input type="radio" name="rating" value="3" />
              {% endif %}
              &nbsp;
              {% if  rating == 4  %}
              <input type="radio" name="rating" value="4" checked />
               {% else %}
              <input type="radio" name="rating" value="4" />
              {% endif %}
              &nbsp;
              {% if  rating == 5  %}
              <input type="radio" name="rating" value="5" checked />
               {% else %}
              <input type="radio" name="rating" value="5" />
              {% endif %}
              &nbsp; <b class="rating">{{ entry_good }}</b>
              {% if  error_rating  %}
              <span class="text-danger">{{ error_rating }}</span>
              {% endif %}</div>
                </div>


         <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ cancel }}" class="btn btn-default">{{ btn_cancel }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ btn_save }}" class="btn btn-primary" />
          </div>
        </div>


      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{{ footer }}
