/* Hoja de estilo del formulario híbrido */
@keyframes barFill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

#peiCbx {
    opacity: 0;
}

.formuHibrido button {
    margin: 5px;
}

#contenedorFormulario {
    display: none
}

.warning {
    color: red;
    padding: 1px;
}

.fail {
    background-color: lightpink;
    border-color: red;
}

.row {
    min-height: 60px
}

.input {
    width: 100%;
}

.modal-class {
}

.modal-content {
}

#todopago_logo {
    width: 110px;
    height: 40px;
    margin: 5px 5px;
}

#tpForm {
    display: none;
}

.loaded-form {
    display: none;
}

#loading-hibrid {
    width: 0;
}

.barFiller {
    animation-name: barFill;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}
