{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li>
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% if error_parameters %}
      <div class="alert alert-danger alert-dismissible">
        <i class="fa fa-check-circle"></i> {{ error_parameters }}
        <button type="button" class="close" data-dismiss="alert">×</button>
      </div>
      {% endif %}
      {% if error_client %}
      <div class="alert alert-danger alert-dismissible">
        <i class="fa fa-check-circle"></i> {{ error_client }}
        <button type="button" class="close" data-dismiss="alert">×</button>
      </div>
      {% endif %}
      <h1>{{ heading_title }}</h1>
      <h3>{{ text_location }}</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            {% if image %}
              <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail"/></div>
            {% endif %}
            <div class="col-sm-3">
              <strong>{{ store }}</strong><br/>

              {% for result in addresses %}
                <address>
                  {{ result.address }}
                </address>
              {% endfor %}

            </div>
            <div class="col-sm-3">
              <strong>{{ text_telephone }}</strong><br>
              {{ telephone }}<br/>
              <br/>
              {% if fax %}
                <strong>{{ text_fax }}</strong><br>
                {{ fax }}
              {% endif %}
            </div>
            <div class="col-sm-3">
              {% if open %}
                <strong>{{ text_open }}</strong><br/>
                {{ open }}<br/>
                <br/>
              {% endif %}
              {% if comment %}
                <strong>{{ text_comment }}</strong><br/>
                {{ comment }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ text_contact }}</legend>

          <div class="form-group">

            <label class="col-sm-2 control-label" for="input-name">{{ product }}</label>

            <div class="col-sm-10">

              <input type="text" name="product_name" value="{{ product_name }}" readonly="readonly" class="form-control"/>
              <input type="hidden" name="product_id" value="{{ product_id }}"/>
              <input type="hidden" name="seller_email" value="{{ seller_email }}"/>
              <input type="hidden" name="seller_id" value="{{ seller_id }}"/>
              <input type="hidden" name="customer_id" value="{{ customer.customer_id }}"/>
            </div>

          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ customer.firstname }} {{ customer.lastname}}" readonly="readonly" id="input-name" class="form-control"/>
              {% if error_name %}
                <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ customer.email }}" readonly="readonly" id="input-email" class="form-control"/>
              {% if error_email %}
                <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group">

            <label class="col-sm-2 control-label" for="input-phone">{{ text_telephone }}</label>

            <div class="col-sm-10">

              <input type="text" name="phone" value="{{ customer.telephone }}" readonly="readonly" id="input-phone" class="form-control"/>

            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
            <div class="col-sm-10">
              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control" placeholder="{{ query }}"></textarea>
              {% if error_enquiry %}
                <div class="text-danger">{{ error_enquiry }}</div>
              {% endif %}
            </div>
          </div>

        </fieldset>
        <div class="buttons">
          <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="{{ button_submit }}"/>
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
