<link href="catalog/view/theme/default/stylesheet/todopago_form.css" rel="stylesheet">

{% if rta_server is null %}
    <script type="text/javascript">
        $('#tpForm').css("opacity", 0);
        window.location.href = "{{ todopagoFail }}";
    </script>
{% elseif statusCode == 500 %}
    <script type="text/javascript">
        $('#tpForm').css("opacity", 0);
        window.location.href = "{{ todopagoFail }}";
    </script>
{% elseif rta_server.StatusCode != -1 %}
    <script type="text/javascript">
        console.log("Error en el servidor: {{ rta_server }}");
        $('#tpForm').css("opacity", 0);
        window.location.href = "{{ rta_server.URL_ErrorPageHybrid }}";
    </script>
{% else %}

    <!-- inicio formulario -->
    <script type="text/javascript">
        console.log("Ingreso al formulario híbrido");
    </script>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" id="loading-hibrid" role="progressbar"
             aria-valuemin="0"
             aria-valuemax="100">
        </div>
    </div>
    <div class="formuHibrido container-fluid" id="tpForm">
        <img src="https://portal.todopago.com.ar/app/images/logo.png" alt="todopago" id="todopago_logo">
        <!-- row  1 -->
        <div class="row">
            <div class="col-md-2">
                <select id="formaPagoCbx" class="input form-control"></select>
            </div>
            <div class="col-md-4 loaded-form">
                <input id="numeroTarjetaTxt" class="input form-control">
                <label id="numeroTarjetaLbl" for="numeroTarjetaTxt" class="warning"></label>
            </div>
            <div class="col-md-6">
                <input id="nombreTxt" class="input form-control">
            </div>
        </div>
        <!-- row 2 -->
        <div class="loaded-form">
            <div class="row" id="row-pei">
                <div class="col-md-3 col-md-offset-2 form-horizontal">
                    <div class="switch" id="switch-pei">
                        <input id="peiCbx" class="pull-left" type="checkbox">
                        <span class="slider round"></span>
                    </div>
                    <label id="peiLbl" for="peiCbx"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <select id="medioPagoCbx" class="input form-control"></select>
                </div>
                <div class="col-md-4">
                    <select id="bancoCbx" class="input form-control"></select>
                </div>
                <div class="col-md-2">
                    <select id="tipoDocCbx" class="input form-control"></select>
                </div>
                <div class="col-md-4">
                    <input id="nroDocTxt" class="input form-control">
                    <label id="nroDocLbl" class="warning"></label>
                </div>
            </div>
            <!-- row 3 -->
            <div class="row">

                <div class="col-md-2">
                    <select id="mesCbx" class="input form-control"></select>
                </div>
                <div class="col-md-2">
                    <select id="anioCbx" class="input form-control"></select>
                    <label id="fechaLbl" class="warning"></label>
                </div>
                <div class="col-md-2">
                    <input id="codigoSeguridadTxt" class="input form-control">
                    <label id="codigoSeguridadLbl" for="codigoSeguridadTxt" class="warning"></label>
                </div>
                <div class="col-md-6">
                    <input id="emailTxt" class="input form-control">
                </div>
            </div>
            <!-- row 4 -->
            <div class="row">
                <div class="col-md-3">
                    <select id="promosCbx" class="input form-control"></select>
                </div>
                <div class="col-md-2">
                    <label id="promosLbl" for="promosCbx"></label>
                </div>
                <div class="col-md-3">
                    <input id="tokenPeiTxt" class="input form-control">
                    <label id="tokenPeiLbl" for="tokenPeiTxt" class="warning"></label>
                </div>
            </div>
        </div>
        <!-- row 5 -->
        <div class="row">
            <button id="MY_btnPagarConBilletera" class="btn btn-primary pull-right"></button>
            <button id="MY_btnConfirmarPago" class="btn btn-primary pull-right"></button>
        </div>
    </div>
    <script type="text/javascript">
        /************* CONFIGURACION DEL API *********************/

        function loadScript(url, callback) {
            var script = document.createElement("script");
            script.type = "text/javascript";
            if (script.readyState) {  //IE
                script.onreadystatechange = function () {
                    if (script.readyState === "loaded" || script.readyState === "complete") {
                        script.onreadystatechange = null;
                        callback();
                    }
                };
            } else {  //et al.
                script.onload = function () {
                    callback();
                };
                script.onerror = function () {
                    window.location.href = "{{ url_second_step }}&Order={{ order_id }}&ResultMessage=" + "Falló la carga del formulario";
                }
            }
            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);
        }

        loadScript('{{ validacionJS }}', function () {
            loader();
        });

        var formaDePago = document.getElementById("formaPagoCbx");
        formaDePago.addEventListener("click", function () {
            if (formaDePago.value === "1") {
                $(".loaded-form").show('fast');
            } else {
                $(".loaded-form").hide('fast');
                $("#switch-pei").css("display", "none");
            }
        });

        function initialFormaDePago() {
            if (formaDePago.value === "1") {
                $(".loaded-form").show('fast');
            }
        }

        var peiChk = $("#peiCbx");


        function getInitialPEIState() {
            return (peiChk.is(":disabled"));
        }

        function loader() {
            $("#loading-hibrid").css("width", "50%");
            setTimeout(function () {
                ignite();
            }, 100);
            setTimeout(function () {
                $("#loading-hibrid").css("width", "100%");
            }, 2000);
            setTimeout(function () {
                $(".progress").hide('fast');
                initialFormaDePago();
            }, 2500);
            setTimeout(function () {
                $("#tpForm").fadeTo('fast', 1);
            }, 2700);
        }

        function activateSwitch(soloPEI) {
            console.log("Solo PEI: " + soloPEI);
            if (!soloPEI) {
                $("#switch-pei").click(function () {
                    if (peiChk.prop("checked") === false) {
                        peiChk.prop("checked", true);
                    } else {
                        peiChk.prop("checked", false);
                    }

                });
            }
        }

        function ignite() {
            window.TPFORMAPI.hybridForm.initForm({
                callbackValidationErrorFunction: 'validationCollector',
                callbackBilleteraFunction: 'billeteraPaymentResponse',
                callbackCustomSuccessFunction: 'customPaymentSuccessResponse',
                callbackCustomErrorFunction: 'customPaymentErrorResponse',
                botonPagarId: 'MY_btnConfirmarPago',
                botonPagarConBilleteraId: 'MY_btnPagarConBilletera',
                modalCssClass: 'modal-class',
                modalContentCssClass: 'modal-content',
                beforeRequest: 'initLoading',
                afterRequest: 'stopLoading'
            });
            /************* SETEO UN ITEM PARA COMPRAR ******************/
            window.TPFORMAPI.hybridForm.setItem({
                publicKey: '{{ rta_server.PublicRequestKey }}',
                defaultNombreApellido: '{{ completeName }}',
                defaultNumeroDoc: '',
                defaultMail: '{{ mail }}',
                defaultTipoDoc: 'DNI'
            });
        }

        /************ FUNCIONES CALLBACKS ************/

        function validationCollector(parametros) {
            console.log("Validando los datos");
            console.log(parametros.field + " -> " + parametros.error);
            var input = parametros.field;
            if (input.search("Txt") !== -1) {
                label = input.replace("Txt", "Lbl");
            } else {
                label = input.replace("Cbx", "Lbl");
            }
            if (document.getElementById(label) !== null)
                document.getElementById(label).innerHTML = parametros.error;
        }

        function billeteraPaymentResponse(response) {
            console.log("Iniciando billetera");
            console.log(response.ResultCode + " -> " + response.ResultMessage);
            if (response.AuthorizationKey) {
                window.location.href = "{{ url_second_step }}&Order={{ order_id }}&Answer=" + response.AuthorizationKey;
            } else {
                window.location.href = "{{ url_second_step }}&Order={{ order_id }}&ResultMessage=" + response.ResultMessage;
            }
        }

        function customPaymentSuccessResponse(response) {
            console.log("Success");
            console.log(response.ResultCode + " -> " + response.ResultMessage);
            window.location.href = "{{ url_second_step }}&Order={{ order_id }}&Answer=" + response.AuthorizationKey;
        }

        function customPaymentErrorResponse(response) {
            console.log("Error al pagar.");
            console.log(response.ResultCode + " -> " + response.ResultMessage);
            if (response.AuthorizationKey) {
                window.location.href = "{{ url_second_step }}&Order={{ order_id }}&Answer=" + response.AuthorizationKey;
            } else {
                window.location.href = "{{ url_second_step }}&Order={{ order_id }}&ResultMessage=" + response.ResultMessage;
            }
        }

        function initLoading() {
            console.log('Loading...');
        }

        function stopLoading() {
            console.log('Stop loading...');
            var peiCbx = $("#peiCbx");
            var rowPei = $("#row-pei");
            if (peiCbx.css('display') !== 'none') {
                rowPei.show('fast');
                switchPei = $("#switch-pei");
                switchPei.css("display", "block");
                activateSwitch(getInitialPEIState());
            } else {
                rowPei.css("display", "none");
            }
        }

        function levantarFormulario() {
            $('#contenedorFormulario').show('fast');
        }

    </script>
{% endif %}
