{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> {{ heading_title }}</h3>
      </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-left">{{ column_seller_id }}</td>
                <td class="text-left">{{ column_seller_name }}</td>
                <td class="text-right">{{ column_total }} {{ column_sale }}</td>
                <td class="text-right">{{ column_total }} {{ column_commision }}</td>
                <td class="text-right">{{ column_seller_cut }}</td>
              <td class="text-left">{{ column_action }}</td>
			 </tr>
            </thead>
            <tbody>

	     {% if incomes %}
             {% for income in incomes %}

              {% if income.amounttopay1 >0  %}

			<tr>
				<td class="text-left">{{ income.seller_id }}</td>
				<td class="text-left">{{ income.company }}</td>
				<td class="text-right">{{ income.gross_amount }}</td>
				<td class="text-right">{{ income.commission }}</td>
				<td class="text-right">{{ income.seller_amount }}</td>
				<td class="text-left">
			<?php ?>

			<a href="{{ income.href }}" target="_blank" class="btn btn-primary">{{ button_add_payment }}</a>
<a href="{{ income.transaction }}" target="_blank" class="btn btn-primary">{{ button_view_transactions }}</a>
				</td>

				</tr>

         {% endif %}
	 {% endfor %}

             {% else %}
              <tr>
                <td class="text-center" colspan="7">{{ text_no_results }}</td>
              </tr>
             {% endif %}
            </tbody>
          </table>

      </div>
    </div>
  </div>
        </div>
 </div>
{{ footer }}
