{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>

	  <div class="pull-right">

        <a data-toggle="tooltip" title="Confirm" class="btn btn-primary"
	onclick="confirm('Are you sure you wants to confirm payment?') ? $('#form').submit() : false;"><i class="fa fa-save">
		</i></a>
		 <a href="{{ cancel }}" data-toggle="tooltip" title="Cancel" class="btn btn-default"><i class="fa fa-reply"></i></a>

		</div>



    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> {{ heading_title }}</h3>
      </div>

        <div class="table-responsive">
		<form method="post" enctype="multipart/form-data" action="{{ insert }}" id="form">
          <table class="table table-bordered">

		  <tr>
		<td class="text-left" colspan="2">
		{{ seller_bank_details_of }}



		<b>{% if business_name %}</b>

		{{ business_name }}

		{% else %}

		<b>{{ name }}</b>

		{% endif %}
    </b>
		<br/>
		{{ seller_payee_name }}: {{ account_name }}<br/>
		{{ seller_bank_name }}: {{ bank_name }}<br/>
		{{ seller_account_number }}: {{ account_number }}<br/>
		{{ seller_branch }}: {{ branch }}<br/>
		{{ seller_ifsccode }}: {{ ifsccode }}<br/>
		{{ seller_telephone }}: {{ telephone }}<br/>
		</td>
          </tr>
          <tr>
		<td class="text-left">{{ seller_note }}:</td>
		<td><textarea name="description" cols="40" rows="5"></textarea>

		{% if error_description %}
                  <div class="text-danger">{{ error_description }}</div>
               {% endif %}
		</td>
		<input type="hidden" name="seller_id" value="{{ seller_id }}" />
		<input type="hidden" name="seller_transaction_ids" value="{{ seller_transaction_ids }}" />
		</td>
		<tr>
		<td class="text-left">{{ seller_amount_to_pay }}:</td>
		<td>
		<input type="text" name="seller_amount" value="{{ seller_amount }}" />

		{% if error_seller_amount %}
                  <div class="text-danger">{{ error_seller_amount }}</div>
                {% endif %}
		</td>


          </tr>

         </table>
		 </form>
        </div>


  <script type="text/javascript"><!--

$('#description').summernote({height: 300});

//--></script>
      </div>
    </div>
  </div>

 </div>
{{ footer }}
