{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ insert }}" data-toggle="tooltip" title="{{ button_insert }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-seller').submit() : false;"><i class="fa fa-trash-o"></i></button>     <a onclick="$('#form-seller').attr('action', '{{ approve }}'); $('#form-seller').submit();" data-toggle="tooltip" title="Approve" 	  class="btn btn-success"><i class="fa fa-thumbs-o-up"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">

	  <div class="well">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ column_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ column_name }}" id="input-name" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-email">{{ column_email }}</label>
                <input type="text" name="filter_email" value="{{ filter_email }}" placeholder="{{ column_email }}" id="input-email" class="form-control" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-approved">{{ column_approved }}</label>
                <select name="filter_approved" id="input-approved" class="form-control">
                  <option value="*"></option>
                  {% if filter_approved %}
                  <option value="1" selected="selected">{{ text_yes }}</option>
                  {% else %}
                  <option value="1">{{ text_yes }}</option>
                  {% endif %}

		   {% if filter_approved == '0' %}
                  <option value="0" selected="selected">{{ text_no }}</option>
                  {% else %}
                  <option value="0">{{ text_no }}</option>
                  {% endif %}


                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-status">{{ column_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="*"></option>
                  {% if filter_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_status == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-date-added">{{ column_date_added }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ column_date_added }}" data-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
          </div>
		  </div>

        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-seller">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'c.email' %}
                    <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a>
                    {% else %}
                    <a href="{{ sort_email }}">{{ column_email }}</a>
                    {% endif %}</td>

                  <td class="text-left">{% if sort == 'c.status' %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>

                  <td class="text-left">{% if sort == 'c.date_added' %}
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %}
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>

					 <td class="text-left">{{ text_pending_balance }}</td>
					 <td class="text-left">{{ text_view_transaction }}</td>
					<td class="text-left">{{ text_payment_status }}</td>


                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if sellers %}
                {% for seller in sellers %}
                <tr>
                  <td class="text-center">{% if seller.seller_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ seller.seller_id   }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ seller.seller_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ seller.name }}</td>
                  <td class="text-left">{{ seller.email }}</td>

                  <td class="text-left">{{ seller.status }}</td>

                  <td class="text-left">{{ seller.date_added }}</td>

				   <td class="text-left">{{ seller.amount }}</td>
				     <td class="text-left"><a href="{{ seller.transaction }}" target="_blank">{{ text_click_to_view }}</a></td>



					 <td class="text-left">

					  {% if seller.payment_status ==1 %}

					  {{ text_paid }}

					  {% else %}
					  {{ text_unpaid }}

					   {% endif %}



			</td>

                  <td class="text-right">

		   {% if seller.payment_status %}

			 <button type="button" class="btn btn-success" disabled><i class="fa fa-thumbs-o-up"></i></button>


                    {% else %}

		     <a href="{{ seller.approvepayment }}" data-toggle="tooltip" title="{{ text_approved_payment }}" class="btn btn-success">
					<i class="fa fa-thumbs-o-up"></i></a>

                    {% endif %}


		     {% if seller.approved %}

		       <button type="button" class="btn btn-success" disabled><i class="fa fa-thumbs-o-up"></i></button>




                    {% else %}

		      <a href="{{ seller.approve }}" data-toggle="tooltip" title="{{ button_approve }}" class="btn btn-success">
					<i class="fa fa-thumbs-o-up"></i></a>

                    {% endif %}


                    <div class="btn-group" data-toggle="tooltip" title="{{ text_login }}">
                      <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle"><i class="fa fa-lock"></i></button>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="index.php?route=sale/seller/login&user_token={{ user_token }}&seller_id={{ seller.seller_id }}&store_id=0" target="_blank">{{ text_default }}</a></li>
                        {% for store in stores %}
                        <li><a href="index.php?route=sale/seller/login&user_token={{ user_token }}&seller_id={{ seller.seller_id }}&store_id={{ store.store_id }}" target="_blank">{{ store.name }}</a></li>
                         {% endfor %}
                      </ul>
                    </div>
                    <a href="{{ seller.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
               {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = 'index.php?route=sale/seller&user_token={{ user_token }}';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_email = $('input[name=\'filter_email\']').val();

	if (filter_email) {
		url += '&filter_email=' + encodeURIComponent(filter_email);
	}



	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	var filter_approved = $('select[name=\'filter_approved\']').val();

	if (filter_approved != '*') {
		url += '&filter_approved=' + encodeURIComponent(filter_approved);
	}



	var filter_date_added = $('input[name=\'filter_date_added\']').val();

	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}

	location = url;
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=sale/seller/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['seller_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_email\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=sale/seller/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['email'],
						value: item['seller_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_email\']').val(item['label']);
	}
});
//--></script>
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script></div>
{{ footer }}
